/**
   * 			JACorachan Playground CSS	
   * @author	Jose A. Corachan  
   * @version	2011
   */

/*
 *	HTML Reset + Basic Typography (http://html5boilerplate.com/) 
 ***************************************
 */
	
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
	
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {display: block;}
	
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after { content: ''; content: none; }
	ins { background-color: #ff9; color: #000; text-decoration: none; }
	mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
	del { text-decoration: line-through; }
	abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
	table { border-collapse: collapse; border-spacing: 0; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	input, select { vertical-align: middle; }
	
	body { font:13px/1.231 sans-serif; *font-size:small; } 
	select, input, textarea, button { font:99% sans-serif; }
	pre, code, kbd, samp { font-family: monospace, sans-serif; }
	
	html { overflow-y: scroll; }
	a:hover, a:active { outline: none; }
	ul, ol { margin-left: 2em; }
	ol { list-style-type: decimal; }
	nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
	small { font-size: 85%; }
	strong, th { font-weight: bold; }
	td { vertical-align: top; }
	
	sub, sup { font-size: 75%; line-height: 0; position: relative; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
	textarea { overflow: auto; }
	.ie6 legend, .ie7 legend { margin-left: -7px; } 
	input[type="radio"] { vertical-align: text-bottom; }
	input[type="checkbox"] { vertical-align: bottom; }
	.ie7 input[type="checkbox"] { vertical-align: baseline; }
	.ie6 input { vertical-align: text-bottom; }
	label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
	button, input, select, textarea { margin: 0; }
	input:valid, textarea:valid   {  }
	input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
	.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
	
	::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
	::selection { background:#FF5E99; color:#fff; text-shadow: none; }
	a:link { -webkit-tap-highlight-color: #FF5E99; }
	
	button {  width: auto; overflow: visible; }
	.ie7 img { -ms-interpolation-mode: bicubic; }
	
	body, select, input, textarea {  color: #444; }
	h1, h2, h3, h4, h5, h6 { font-weight: bold; }
	a, a:active, a:visited { color: #607890; }
	a:hover { color: #036; }
	
	p {padding:.6em 0}

/* 
 * Page style
 ***************************************
 */


	/* Sticky Footer by Ryan Fait http://ryanfait.com/ */
	* {	margin: 0; }
	html, body { height: 100%; }
	.wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -105px;}
	footer, .push { height: 105px;} 
	footer { background: url("../img/footer-background.gif") repeat-x scroll 0 bottom transparent} 

	/* Page colors */
	
	body { background: url("../img/body-background-top.gif") repeat-x scroll center 0 #E8DDCB}
	/*.wrapper {background: url("../img/background-tente1.gif") no-repeat scroll 85% 27% transparent}*/
		
	/* header */
	header {font-family:Georgia, serif; color:#033649; font-size: 18pt;padding-top:25px;text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);width:100%}
	header .title strong {font-weight:normal;color:#000}
	header.back { margin-bottom:2em;border-bottom:1px solid #000;}
	header.back a {font-size:10pt;text-align:right}

	/* logo */
	div.logobox1 {margin-top:10px;display:block;width:77px;height:77px;background-color:#031634;z-index:10;border-radius: 4px;position:relative;}
		div.logobox2 {display:block;width:77px;height:77px;background-color:#036564;z-index:0;border-radius: 4px;position:absolute; top:-20px;right:20px}
	div.logobox1:hover { -moz-transform: scale(1.05);}
	
	/* content */
	#main h3 {padding-top:3em;font-family: 'Droid Serif', sans-serif; }
	
	/* footer */
	#ilovecss {text-align:right}
	#ilovecss img {width:60px}
	footer {color:#fff;font-size: 0.95em;}
	footer p {text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);}
	footer ul {margin:0 auto;width: 25%;padding-top:8px}
	footer ul li {display:inline;padding:0 1em 0 0 ;}	
	.copyleft {margin:0 auto; width:30%;padding-top: 15px;font-size: 0.85em;}
	#lastmodified { color:#666; font-size:7.5pt}
	
	/* javascrip-basics.html */
		
		
	.javascript-basics_sample {width:100%}
	.javascript-basics_sample a {text-align:right;color:#666;font-size:8pt;}

	/* fix for margin bottom */
	.tl-wrap {margin:0!important}

/* 
 * Common classes
 ***************************************
 */
 
	.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
	.hidden { display: none; visibility: hidden; }
	.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
	.invisible { visibility: hidden; }
	.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

/* 
 * Media Queries
  ***************************************
 */

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media all and (max-width: 720px) {
	/* fix footer */
	footer { background-image:none!important; color:#000!important}
	.wrapper{ background-image:none!important; }
	
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}